
/**fonts***/
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&family=PT+Sans:wght@400;700&display=swap');



:root{
    --primary-color : #764c29;
    --secondary-color: #a97b50;
    --text-color: #3d3d3d;
    --hover-color:#c2b59b;
    --primary-font: "PT Sans", sans-serif;
    --secondary-font: "Barlow", sans-serif;
    
}


.bg-primary{
    background: var(--primary-color) !important;
}
.bg-secondary{
    background: var(--secondary-color) !important;
}
.bg-black{
    background: var(--text-color) !important;
}

.text-primary{
    color: var(--primary-color) !important;
}
.text-secondary{
    color: var(--secondary-color)v;
}
.text-black{
    color: var(--text-color) !important;
}

.btn-primary{
    background-color: var(--primary-color) !important;
    border: none !important;
}
.btn-secondary{
    background-color: var(--text-color) !important;
    border: none;
}

body{
    font-family: var(--primary-font);
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: normal;
    color: var(--text-color);
    letter-spacing: 2px;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{
    font-weight: bold;
    font-family: var(--secondary-font);
}
h1, .h1{
    font-size: 3rem;
}
h2, .h2{
    font-size: 2.2rem;
}
h3, .h3{
    font-size: 2rem;
}
h4, .h4{
    font-size: 1.8rem;
}
h5, .h5{
    font-size: 1.6rem;
}
h6, .h6{
    font-size: 1.4rem;
}
.subtitle{
    font-size: 24px;
    font-weight: lighter;
    font-family: var(--primary-font);
    letter-spacing: 10px;
}
  .navbar-toggler-icon {
    font-size: 2.5rem; /* Taille de police plus grande */
    line-height: 2;
    color: #fff; /* Couleur blanche pour contraste */
  }

  .carousel-item {
    height: 500px;
  }
  
  .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px;
  }

  .carousel-control-next, .carousel-control-prev {
    top: 50%;
    bottom: auto;
    width: 60px;
    height: 60px;

}